body{
  background: rgb(15, 10, 10);
}
.app-wrapper{
  display: grid;
  width: 1200px;
  margin: 0 auto;
  grid-template-areas:
  "h h"
  "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  
  grid-gap: 10px;
}

.header{
grid-area: h;
background: rgb(243, 224, 218);
}

.header img{
  width: 40px;
 height: 40px;
 margin-top: 10px;
 margin-left: 10px;
 border: black 1px solid;
 border-radius: 45% 10%;
}

.nav{
grid-area: n;
background: rgb(184, 204, 247);
}

.content{
grid-area: c;
background: rgb(167, 129, 129);
}
.content img{
  width: 50%;
  height: 100%;
}