.dialogs{
display: grid;
grid-template-columns: 2fr 10fr ;
}
.button{
    size: 20px;
    color: black;
}

.dialogs_items{
padding: 10px;
color: white;
}

.dialogs_items .active{
    color: gold;
}

.messages{
padding: 10px;
}

.messages.message{
    color: white;
}
